@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;700&family=Roboto:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  color: white;
  font-family: 'Roboto', sans-serif;
}

body{
  background-color: black;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-title {
  padding: 20px;
  text-align: center;
  font-size: 40px;
}

#binary-input-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 400px;
  margin: 100px auto;
  border: 2px solid white;
  padding: 40px;
  border-radius: 10px;
}

#binary-input {
  background-color: black;
  border: 2px solid white;
  margin: 15px auto;
  border-radius: 5px;
  height: 40px;
  width: 200px;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  outline: none;
}

#binary-input.invalid-input {
  border: 2px solid red;
}

#warning-message {
  height: 20px;
  font-size: 20px;
  margin-top: 10px;
  font-weight: 600;
}

#send-button {
  background-color: white;
  color: black;
  margin: 20px auto;
  width: 250px;
  height: 40px;
  border-radius: 5px;
  font-size: 16px;
  border: none;
  transition: 200ms;
}

#send-button:hover {
  background-color: greenyellow;
}

#result {
  margin: 15px auto;
  height: 40px;
  width: 200px;
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  color: greenyellow;
}

#result.invalid-input {
  color: red;
  font-size: 20px;
}

.footer {
  color: rgb(60, 60, 60);
  position: fixed;
  bottom: 40px;
}

@media (max-width: 600px)
{

  #binary-input-container {
  
    max-width: 50%;

  }
}